- obj.each do |art|
  .row
    .col-xs-8.col-xs-offset-2
      .well.well-lg
        .article-title
          = link_to art.title, article_path(art)
        .article-body
          = truncate(art.description, length: 100)
          %br
          .article-meta-details
            %small
              created by: #{art.user.username if art.user}
              =time_ago_in_words(art.created_at)
              ago   ||
              Last updated:
              =time_ago_in_words(art.updated_at)
              ago
          -if art.categories.any?
            = render 'categories/category', obj: art.categories 
        - if logged_in? && ( current_user == art.user || current_user.admin? )
          .article-actions
            = link_to "Edit article", edit_article_path(art), class: "btn btn-success"
            = link_to "Delete article", article_path(art), method: :delete,
                      data: {confirm: "Are you sure you want to delete the article?"},
                      class: "btn btn-danger"
