%h1 Edit existing articles

- if @article.errors.any?
  %h2 Following errors prevented article from getting created
  - @article.errors.full_messages.each do |msg|
    %ul
      %li
        =msg

= form_for @article do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    =f.submit
=link_to "Back to listings", articles_path
